@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html,
body,
button,
input,
select {
  font-family: "Raleway", Sans-serif;
}
p {
  @apply pb-4;
  display: block;
}
.btn-primary {
  @apply border border-primary-active px-8 py-1 rounded-full text-sm cursor-pointer;
  transition: all ease 0.3s;
  max-width: max-content;
  place-self: center;
  &:hover {
    @apply bg-primary-active;
  }
  &.--solid {
    @apply bg-primary-active;

    &:hover {
      background: (lighten(#e48800, 10));
    }
  }
}
.router-link-exact-active {
  @apply text-primary-active;
}
.bg-carousel {
  background: rgba(0, 75, 102, 0.5);
}
.swiper-slide {
  place-self: center;
}
.img-grayscale {
  @apply px-6 py-4 mx-auto;
  place-self: center;
}
.img-grayscale img {
  filter: grayscale(1);

  width: 100%;
  max-width: 150px;
  cursor: pointer;
  place-self: center;
  display: block;
  transition: all ease 0.3s;
  &:hover {
    filter: grayscale(0);
  }

  // height: 30px;
}
.navbar-mobile {
  background: #ffffffa1;
  backdrop-filter: blur(5px);
}
.footer-wrap {
  @apply pt-2;
  width: 20%;
  margin: 0 auto;
  min-width: 180px;
  font-family: "Montserrat", sans-serif;
  a {
    @apply text-sm;
    display: block;
    width: max-content;
    line-height: 1.5rem;
    transition: all ease 0.3s;

    &:hover {
      @apply text-primary-active;
    }
  }
}
a.hover-link {
  transition: all ease 0.3s;
  &:hover {
    @apply text-primary-active;
  }
}
.whatsapp-button {
  @apply fixed z-20 grid place-items-center rounded-full shadow p-2;
  background: #0eb540;
  width: 50px;
  height: 50px;
  bottom: 15px;
  right: 15px;
}
